# Transfer Service — Environment Variables

PORT=3001
NODE_ENV=development

# NIBSS — locally points to WireMock
NIBSS_BASE_URL=http://wiremock:8080
NIBSS_API_KEY=test-nibss-key-local

# Paystack — locally points to WireMock
PAYSTACK_BASE_URL=http://wiremock:8080
PAYSTACK_SECRET_KEY=test-paystack-key-local

# Internal service URLs — used when running in Docker Compose
NOTIFICATIONS_SERVICE_URL=http://notifications-service:3002
